{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "globals": {
    "document": true
  },
  "plugins": [],
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-mixed-operators": "off",
    "react/no-typos": "off",
    "no-prototype-builtins": "off",
    "no-plusplus": "off",
    "react/prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}
